body, main{
  text-align: center;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.cat-image{
  width: 15em;
  height: 10em;
}

.hide{
  display: none;
}
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #4c825f;
  background-color: #cedbd2;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  font-size: .75em;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.admin {
  border: 1px solid #4c825f;
  background-color: #cedbd2;
  font-size: .75em;
  padding: 14px 16px;
  cursor: pointer;
}
.vertical-space{
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}
.admin-area{
  padding: 14px 16px;

  display: inline-block;
  width: 50%;

}
form{
  text-align: left;
}

label{
  padding-right: 2em;
}
input[type=text] {

   font-size: 1em;
}
.submitbuttons{
  text-align: center;
}
/* Change background color of buttons on hover */
button:hover {
  background-color: #daede0;
}

/* Create an active/current tablink class */
button.active {
  background-color: #b7ccbe;
}

/* Style the tab content */
.tabcontent {
  padding: 6px 12px;
  border: 1px solid #4c825f;
  border-top: none;
}
